.mainContaner {
  overflow-x: hidden;
}
.spacer-mainWrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 4px;
}
.radio-section {
  border-radius: 8px;
  border: 1px solid var(--primary);
  padding: 1px 3px;
}

.carousel-style {
  margin: 0;
  height: 80vh;
  width: 100%;
  color: #fff;
  line-height: 160px;
  text-align: center;
  object-fit: fill;
}

.category-header {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  column-gap: 34px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 10px 30px;
}

.category-header::-webkit-scrollbar {
  display: none;
}

.deals-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4px;
}

@media screen and (max-width: 590px) {
  .carousel-style {
    margin: 0;
    height: 40vh;
    width: 100%;
    color: #fff;
    line-height: 160px;
    text-align: center;
    object-fit: fill;
  }
}
